node_modules/
dist/
*.log
*.env
.DS_Store
coverage/
build/
*.tsbuildinfo
pwd.json
.cursorignore
signins.json
users.json
db.json
src/users/models/users.model.ts
src/pets/models/pets.models.ts
server/src/users/models/users.model.ts
server/src/pets/models/pets.models.ts